<html> 
    
<body> 
	<h3>Purchase Prediction Form</h3> 

<div> 
<form action="/result" method="POST"> 
	<label for="w_class">Gender</label> 
	<select id="w_class" name="w_class"> 
	<option value="0">Female</option> 
	<option value="1">Male</option> 
	</select> 
    <br> 
    <label for="age">Age</label> 
    <input type="text" id="age" name="age"> 
    <br> 
    <label for="estimated">Estimated Salary</label> 
    <input type="text" id="es" name="es"> 
    <br> 
	<input type="submit" value="Submit"> 
</form> 
</div> 
</body> 
</html> 
